openapi: 3.0.1
info:
  title: Tolgee API Keys Screenshots API
  description: Subset of the Tolgee localization platform REST API covering projects, keys, translations, languages, import/export, and screenshots. Tolgee is open source and can be self-hosted; this specification targets Tolgee Cloud at https://app.tolgee.io. Project-scoped resources are authenticated with a Project API key (prefixed `tgpak_`) sent in the `X-API-Key` header. A Project API key is bound to a single project, so endpoints that implicitly operate on "the current project" (such as export) are accessible when authenticated with that key.
  termsOfService: https://tolgee.io/terms_and_conditions
  contact:
    name: Tolgee Support
    email: support@tolgee.io
  license:
    name: Source available / AGPL and commercial (self-hosted)
    url: https://docs.tolgee.io/platform/self_hosting/licensing
  version: v2
servers:
- url: https://app.tolgee.io
  description: Tolgee Cloud
security:
- ApiKeyAuth: []
tags:
- name: Screenshots
  description: Attach visual context screenshots to keys.
paths:
  /v2/projects/{projectId}/keys/{keyId}/screenshots:
    parameters:
    - $ref: '#/components/parameters/ProjectId'
    - name: keyId
      in: path
      required: true
      schema:
        type: integer
        format: int64
    get:
      operationId: getKeyScreenshots
      tags:
      - Screenshots
      summary: List screenshots for a key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreenshotListModel'
    post:
      operationId: uploadScreenshot
      tags:
      - Screenshots
      summary: Upload a screenshot for a key
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                screenshot:
                  type: string
                  format: binary
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreenshotModel'
  /v2/projects/{projectId}/keys/{keyId}/screenshots/{screenshotId}:
    parameters:
    - $ref: '#/components/parameters/ProjectId'
    - name: keyId
      in: path
      required: true
      schema:
        type: integer
        format: int64
    - name: screenshotId
      in: path
      required: true
      schema:
        type: integer
        format: int64
    delete:
      operationId: deleteScreenshot
      tags:
      - Screenshots
      summary: Delete a screenshot
      responses:
        '200':
          description: OK
components:
  schemas:
    ScreenshotModel:
      type: object
      properties:
        id:
          type: integer
          format: int64
        filename:
          type: string
        fileUrl:
          type: string
        width:
          type: integer
        height:
          type: integer
    ScreenshotListModel:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            screenshots:
              type: array
              items:
                $ref: '#/components/schemas/ScreenshotModel'
  parameters:
    ProjectId:
      name: projectId
      in: path
      required: true
      description: Numeric project identifier.
      schema:
        type: integer
        format: int64
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Project API key prefixed with `tgpak_`. Scoped to a single project.
